[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  font-family: 'Roboto', monospace;
}

ul {
  list-style: none;
  padding-left: 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'Roboto', monospace;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: 'Roboto', monospace;
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: 'Roboto', monospace;
}
:-moz-placeholder { /* Firefox 18- */
  font-family: 'Roboto', monospace;
}

.sign-in-form, .sign-up-form, .new-trip-form, .edit-trip-form {
  margin: 3rem;
}

.left-container {
	float: left;
	width: 600px;
	padding: 30px 0 20px 30px;
}

.middle-container {
  float: left;
  width: 550px;
  padding: 30px 0 20px 10px;
}

.right-container {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.bookmark-list {
  overflow-y: scroll;
  max-height: 190px;
  background-color: white;
}

.trip-title {
  font-size: 30px;
}

.remove-bookmark-icon {
  color: #F44336;
}

.search-icon {
  color: #F44336;
  padding-right: 15px;
}

.search-bar {
  padding-left: 10px;
}

.show-page-list-item {
  float: right;
}

.authorize-gcal {
  font-weight: bold;
  font-size: 14px;
}

.event-submit-button {
  float: right;
  max-width: 50px;
}

.trip-index-show-more {
  font-size: 14px;
}

.about-paragraph {
  padding: 20px;
  font-size: 25px;
  line-height: 1.5;
}

.landing-intro {
  font-size: 30px;
  padding: 20px;
}

.landing-paragraph {
  font-size: 25px;
  padding: 20px;
}

.demo-bookmark-list {
  overflow-y: scroll;
  max-height: 220px;
  background-color: white;
}

#google-map {
  max-width: 600px;
}

#demo-row-1, #demo-row-2 {
  max-width: 1300px;
}

#landing-demo-flights-left {
  float: left;
  width: 450px;
  padding: 10px 0 10px 0;
}

#landing-demo-flights-middle {
  float: left;
  width: 450px;
  padding: 10px 10px 10px 0;
}

#landing-demo-flights-right {
  float: left;
  width: 300px;
  padding: 80px 0 0 0;
}

#landing-demo-bookmarks-left {
  float: left;
  width: 300px;
  padding: 80px 0 0 10px;
}

#landing-demo-bookmarks-middle {
  float: left;
  width: 450px;
  padding: 10px 0 10px 10px;
}

#landing-demo-bookmarks-right {
  float: left;
  width: 450px;
  padding: 10px 10px 10px 0;
}
