[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  font-family: 'Roboto', monospace;
}

ul {
  list-style: none;
  padding-left: 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'Roboto', monospace;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: 'Roboto', monospace;
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: 'Roboto', monospace;
}
:-moz-placeholder { /* Firefox 18- */
  font-family: 'Roboto', monospace;
}

.sign-in-form, .sign-up-form, .new-trip-form, .edit-trip-form {
  margin: 3rem;
}

.left-container, .middle-container, .right-container {
	float: left;
	width: 345px;
	margin: 10px;
	padding: 10px;
}

.bookmarkList {
  overflow-y: scroll;
  max-height: 190px;
  background-color: white;
}

.tripTitle {
  font-size: 30px;
}

.removeBookmarkIcon {
  color: rgba(255, 0, 0, .7)
}

.searchBar {
  padding-left: 10px;
}

.showPageListItem {
  float: right;
}

#google-map {
  max-width: 400px;
}

#trip-card {
  margin: 2rem;
}
