<div class="sign-in-form" ng-hide="vm.toggleValue">
  <h1>Sign In</h1>

  <form ng-submit="vm.submitLogIn();" name="signInForm" novalidate>
    <div>
      <label for="exampleInputEmail1">Email address</label>
      <input ng-model="vm.logIn.email" type="email" ng-model="email" name="email" required id="exampleInputEmail1" placeholder="Email">
    </div>
    <div>
      <label for="exampleInputPassword1">Password</label>
      <input ng-model="vm.logIn.password" type="password" ng-model="password" name="password" required id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" ng-disabled="signInForm.$invalid">Submit</button>
  </form>

  <p>
    <strong>
      If you are not a user yet,
      <a class="underline" ng-click="vm.toggleValue = !vm.toggleValue;"><u>Sign Up</u></a>.
    </strong>
  </p>
</div> <!-- sign-in-form -->

<div class="sign-up-form" ng-show="vm.toggleValue">
  <h1>Sign Up</h1>

  <form ng-submit="vm.submitSignUp();">
    <div>
      <label for="exampleInputEmail1">Email address</label>
      <input ng-model="vm.signUp.email" type="email" ng-class="{'red-border': vm.conflict}" class="form-control" id="exampleInputEmail1" placeholder="Email">
      <small ng-show="vm.conflict"><em>Email exists…</em></small>
    </div>
    <div>
      <label for="exampleInputName">Name</label>
      <input ng-model="vm.signUp.name" type="text" id="exampleInputName" placeholder="Name">
    </div>
    <div>
      <label for="exampleInputPassword1">Password</label>
      <input ng-model="vm.signUp.password" type="password" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div>
      <label for="exampleInputPassword2">Password confirmation</label>
      <input ng-model="vm.signUp.passwordConfirmation" type="password" id="exampleInputPassword2" placeholder="Password">
    </div>
    <button type="submit">Submit</button>
  </form>

  <p>
    <strong>
      If you are already a user,
      <a ng-click="vm.toggleValue = !vm.toggleValue;"><u>Sign In</u></a>.
    </strong>
  </p>

</div> <!-- sign-up-form -->

<div>
  <button ng-click="vm.authenticate('google')">Sign In with Google</button>
</div>
