<br>
<md-card>
  <md-toolbar class="md-warn">
    <md-card-content>
      <h2>Going somewhere? Plan your trip here.</h2>
    </md-card-content>
  </md-toolbar>
</md-card>
<md-card>
  <div class="new-trip-form">
    <form name="colorForm" ng-submit="tripNewVm.addTrip()">
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>City: </label>
          <input type="text" ng-model="tripNewVm.newTrip.city" required>
          <div ng-messages="colorForm.favoriteColor.$error">
            <div ng-message="required">This is required!</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>State: </label>
          <md-select ng-model="tripNewVm.newTrip.state" required>
            <md-option ng-repeat="state in tripNewVm.states" value="{{state.abbrev}}">
              {{state.abbrev}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container>
          <label>Start Date: </label>
          <md-datepicker ng-model="tripNewVm.newTrip.startDate" ng-required="true"></md-datepicker>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>End Date: </label>
          <md-datepicker ng-model="tripNewVm.newTrip.endDate" ng-required="true"></md-datepicker>
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Departing Flight Origin: </label>
          <input type="text" ng-model="tripNewVm.newTrip.departingFlight.origin" required>
          <div ng-messages="colorForm.favoriteColor.$error">
            <div ng-message="required">This is required!</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Departing Flight Destination: </label>
          <input type="text" ng-model="tripNewVm.newTrip.departingFlight.destination">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Time of Departing Flight: </label>
          <md-select ng-model="tripNewVm.newTrip.departingFlight.departureTime" ng-required="true">
            <md-option ng-value="time" ng-repeat="time in tripNewVm.eventHours">{{time}}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Departing Flight Duration: </label>
          <input type="text" ng-model="tripNewVm.newTrip.departingFlight.duration">
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Return Flight Origin: </label>
          <input type="text" ng-model="tripNewVm.newTrip.returnFlight.origin" required>
          <div ng-messages="colorForm.favoriteColor.$error">
            <div ng-message="required">This is required!</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Return Flight Destination: </label>
          <input type="text" ng-model="tripNewVm.newTrip.returnFlight.destination">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Time of Return Flight: </label>
          <md-select ng-model="tripNewVm.newTrip.returnFlight.departureTime" ng-required="true">
            <md-option ng-value="time" ng-repeat="time in tripNewVm.eventHours">{{time}}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Return Flight Duration: </label>
          <input type="text" ng-model="tripNewVm.newTrip.returnFlight.duration">
        </md-input-container>
      </div>
      <div layout-gm-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Where Are You Staying?</label>
          <input type="text" ng-model="tripNewVm.newTrip.lodgingAddress">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Your Bookmarks</label>
          <textarea ng-model="tripNewVm.newTrip.bookmarks" md-maxlength="150" rows="5" md-select-on-focus placeholder="Please separate your bookmarks with commas! (e.g., 'Brooklyn Bridge, Empire State Building, Central Park')"></textarea>
        </md-input-container>
      </div>
      <md-button class="md-accent md-raised" type="submit">Submit</button>
      </form>
    </div>
</md-card>
